<nav class="navbar-square navbar-default" role="navigation">
  <div class='container'>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'home' classNames='navbar-brand'}}DogeJack{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#link-to 'game' tagName='li' href=false}}
          {{#link-to 'game'}}Play Now{{/link-to}}
        {{/link-to}}
        {{#if session.isAuthenticated}}
        <p class="navbar-text">Signed in as {{currentUser.username}}</p>
        {{ else }}
          {{#link-to 'register' tagName="li" href=false}}
            {{#link-to 'register'}}Sign Up{{/link-to}}
          {{/link-to}}
        {{/if}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <hr class='visible-xs'/>
        {{#if session.isAuthenticated}}
        <li><a {{action 'logout'}} href='#'>Sign Out</a></li>
        {{ else }}
        <form class="form-inline form-square navbar-btn" {{action 'login' identification password on='submit' target='controllers.login'}}>
          <div class="form-group">
            {{input class="username form-control" value=identification type="text" placeholder="Username or Email"}}
          </div>
          <div class="form-group">
            {{input class="password form-control" value=password type="password" placeholder="Password"}}
          </div>
          <button class="submit btn btn-primary" type="submit">Sign In</button>
        </form>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>
{{#if errors}}
<div class="alert alert-square alert-danger alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Warning!</strong> {{errors}}.
</div>
{{/if}}
{{#if success}}
<div class="alert alert-square alert-success alert-dismissable">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong>Congratulations!</strong> {{success}}.
</div>
{{/if}}

<div class="container">
  {{outlet}}
</div>
