{{#if winner}}
  <h3>{{winner}}</h3>
{{/if}}
<h3>Shoe Penetration: {{penetration}}%</h3>
<h3>Current Bet: {{bet}}</h3>
<h3>Player Cards</h3>
<h5>Player Score: {{playerScore}}</h5>
{{#each playerHand}}
  {{value}}
  {{suit}}
{{/each}}
<h3>Dealer Cards</h3>
<h5>Dealer Score: {{dealerScore}}</h5>
{{#each dealerHand}}
  {{value}}
  {{suit}}
{{/each}}
{{#if canDeal}}
  {{input value=bet}}
  <button {{action 'deal'}} class='btn btn-block btn-primary btn-square'>Deal</button>
{{/if}}
{{#if canHit}}
  <button {{action 'hit'}} class='btn btn-block btn-primary btn-square'>Hit</button>
  <button {{action 'stand'}} class='btn btn-block btn-primary btn-square'>Stand</button>
{{/if}}
{{#if dealersTurn}}
  <h3>Dealer's Turn</h3>
{{/if}}
{{#if finished}}
  {{#if canBet}}
    <br>
    {{input value=bet}}
    <button {{action 'again'}} class='btn btn-block btn-primary btn-square'>Play again?</button>
  {{else}}
    <h3>Out of cash</h3>
  {{/if}}
{{/if}}
